
.save-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  margin-left: 44vw;
}
.save-card-button{
  width: 120px;
  height: 60px;
  background-image: linear-gradient(to right, rgb(254, 185, 65) ,rgb(255, 244, 95));
  border-radius: 5px;
  font-weight: 500;
   font-family: "Inter",sans-serif;
  color: rgb(19, 18, 18);
}

.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  transition: transform 0.4s ease-in-out; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: none;
  width: 260px;
  height: 330px;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out; 
}
.card{
  width: 260px;
  height: 330px;
  border-radius: 10px;
  --bs-card-bg:none;


}
.card-title{
    color:#ba3276;
    font-size: 2.1rem;
    font-weight: 600;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.twoCard-container-displaying{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 425px;
  margin: auto;
}
.card-choosed-box{
  width: 50px;
  height: 70px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
}
.highlighted{
  width: 50px;
  height: 70px;
  background-color: rgb(229, 223, 223);
  border: 2px solid black;
  border-radius: 5px;
}
.card {
  transition: transform 1.4s ease-in-out; 
}

.shake-animation {
  animation: shake 1.4s ease-in-out;
}
.card { 
    width: 100%;
    height: 100%;
    perspective: 1000px;
  } 
   
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg); 
  }
  .card.flipped .card-inner {
    transform: rotateY(180deg); 
  }
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); 
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px); 
  }
}
@media (max-width:600px) {
  .twoCard-container-displaying{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 440px;
    height: 600px;
    margin: auto;
    padding: 20px;
  }
  .cardReading-description-container{
    position: relative;
    overflow-y: auto;
    margin: auto;
    position: static;
    padding: 20px;
    width: 400px;
    height: 400px;
    font-size: 1.1rem;
    border: grey;
    border-radius: 10px;
    color: white;
    font-family: "inter"sans-serif;
    font-weight: 500;
    border: 5px solid goldenrod;
  }
  .carReading-name{
    width: 350px;
    color: #ba3276;
    font-size: 1.2rem;
    font-family: "Inter"sans-serif;
    
  }
  .cardReading-description{
    width: 350px;
    color: white;
    font-family: "Inter"sans-serif;
   
  }
}