.header-class{
    font-family: "Jersey 15", serif;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    font-weight: 400;
    font-size: 5rem;
    width: 100%;   
    height: 50px;
    background-image: linear-gradient(to right, #7efaee ,#d88eb9);
    border: none;
    padding-left:60px;
}
.header-class-container{
    padding: 0;
    border: none;
    width: 100%;   
    height: 50px;
    
}
