.saved-container{
    width:500px;
    height: 500px;
    margin: auto;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saved-content{
    width: 400px;
    height: 100px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saved-box{
    width: 48px;
    height: 95px;
    border: 2px solid black;
}
.saved-img{
    width: 48px;
    height: 95px;
}
.saved-description{
    width: 350px;
    height: 95px;
    border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}