.Navigation-container{
    margin-top: 40px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #7efaee ,#d88eb9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right, rgb(244, 170, 44) ,rgb(253, 240, 55));
    border-radius: 5px;
    border:2px solid black;
}
.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}
.fa-shuffle{
  font-size: 2rem;
  color: white;
}
.fa-diagram-next{
    font-size: 2rem;
    color: white;
}