#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.oneCard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 700px;
  height: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid yellow;

}
.card-choosed-box{
  width: 50px;
  height: 70px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
}
@media (max-width:600px) {
  .oneCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 460px;
    height: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid yellow;
  
  }
}