.GuideBook-container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guidebook-title {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-image: linear-gradient(to right, rgb(254, 185, 65), rgb(255, 244, 95));
    font-family: "Jersey 15", serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 6%;
}
.guidebook-mainContent {
    position: relative;
    margin: auto;
    font-family: "Jersey 15", serif;
    font-weight: 600;
    font-size: 1.8rem;
    font-style: normal;
    border-radius: 6%;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.guide-box-content {
    cursor: pointer;
    font-family: "Jersey 15", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(254, 185, 65), rgb(255, 244, 95));
    box-shadow: 2px 2px 2px black;
}
.guide-box-content {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.guide-box-content:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  }
.link-style {
    text-decoration: none;
    color: black;
}
@media (max-width:600px) {
    .GuideBook-container {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        align-items: center;
    }
    .guidebook-title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        background-image: linear-gradient(to right, rgb(254, 185, 65), rgb(255, 244, 95));
        font-family: "Jersey 15", serif;
        font-weight: 600;
        font-style: normal;
        border-radius: 6%;
    }
    .guidebook-mainContent {
        position: relative;
        font-family: "Jersey 15", serif;
        font-weight: 600;
        font-size: 1.8rem;
        font-style: normal;
        border-radius: 6%;
        width: 440px;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .guide-box-content {
        cursor: pointer;
        font-family: "Jersey 15", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 70px;
        border-radius: 10px;
        background-image: linear-gradient(to right, rgb(254, 185, 65), rgb(255, 244, 95));
        box-shadow: 2px 2px 2px black;
    }
}