.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  transition: transform 0.4s ease-in-out;
}

.swiper-pagination-bullets {
  display: none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: none !important;
  width: 260px;
  height: 330px;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
}

.card {
  width: 260px;
  height: 330px;
  border-radius: 10px !important;
}

.back {
  width: 260px;
  height: 330px;
  border-radius: 10px;
}

.front {
  border-radius: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.oneCard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
  height: 500px;
  margin: auto;
  padding: 20px;
}

.card-choosed-box,
.highlighted {
  width: 50px;
  height: 70px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
}

.card {
  transition: transform 1.4s ease-in-out;
}

.shuffle-animation {
  animation: shuffle 5s ease-in-out;
}

@keyframes shuffle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
@media (max-width:600px) {

  .oneCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
    height: 581px;
    margin: auto;
    padding: 20px;
  }

}