.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-main-content{

        font-family: "Jersey 15", serif;
        font-weight: 600;
        font-size: 1.8rem;
        font-style: normal;
   background-image: url('https://res.cloudinary.com/dwiil16oj/image/upload/v1737625336/00_Back_card_upxqkz.jpg');
   background-size: auto;
    border-radius: 6%;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.home-box-content{
    cursor: pointer;
    font-family: "Jersey 15", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 2px 2px 2px black;
}
.link-style{
    text-decoration: none;
    color: black;
}