
.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: none !important;
  width: 260px;
  height: 330px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.card{
  width: 260px;
  height: 330px;
  border-radius: 10px;
}
.twoCard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
  height: 500px;
  margin: auto;
  padding: 20px;
  /* border: 5px solid yellow; */

}
.card-choosed-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  width: 150px;
  height: 70px;
  /* background-color: grey; */
  /* border: 2px solid black; */
  border-radius: 5px;
}
.box-1{
    width: 40px;
  height: 70px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px; 
}
.box-2{
    width: 40px;
  height: 70px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px; 
}
.box-1.selected,
.box-2.selected {
  background-color: white; 
}
.card {
  transition: transform 0.7s ease-in-out; 
}
img.front{
  border-radius: 10px;
}

.shuffle-animation {
  animation: shuffle 2s ease-in-out;
}

@keyframes shuffle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}



@media (max-width:600px) {
  .twoCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 460px;
    height: 600px;
    margin: auto;
    padding: 20px;
    /* border: 2px solid yellow; */
  
  }
}