#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.BrowseCard-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
margin-top: 50px;
width: 1250px;
height: 500px;
margin: auto;
padding: 10px;
/* background-color: #fff; */
/* border: 2px solid yellow; */
}

@media (max-width:600px) {
  .card{
    width: 220px;
    height: 300px;
    border-radius: 10px;
  }
  .swiper-slide{
    /* overflow: hidden; */
    width: 220px !important;
    height: 300px;
    
  }
  .BrowseCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    width: 450px;
    height: 500px;
    margin: auto;
    padding: 10px;
    /* border: 2px solid yellow; */
    }
  
}