.swiper {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 50px;
  transition: transform 0.4s ease-in-out; 
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 260px;
  height: 330px;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out; 
}.card{
  width: 260px;
  height: 330px;
  border-radius: 10px;
}
.card-title{
    color:#ba3276;
    font-size: 2.1rem;
    font-weight: 600;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.oneCard-container-displaying{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 425px;
  margin: auto;
}
.cardReading-description-container{
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  padding: 20px;
  right: 15px;
  top: 100px;
  width: 400px;
  height: 500px;
  font-size: 1.1rem;
  border: grey;
  border-radius: 10px;
  color: white;
  font-family: "inter"sans-serif;
  font-weight: 500;
  border: 5px solid goldenrod;
}
.carReading-name{
  width: 350px;
  color: #ba3276;
  font-size: 1.3rem;
  font-family: "Inter"sans-serif;
  
}
.cardReading-description{
  overflow-y: auto;
  width: 350px;
  color: white;
  font-family: "Inter"sans-serif;
 
}
.card-choosed-box{
  width: 50px;
  height: 70px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
}
.highlighted{
  width: 50px;
  height: 70px;
  background-color: rgb(229, 223, 223);
  border: 2px solid black;
  border-radius: 5px;
}
.save-card-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 70px;
  margin-left: 44vw;
}
.save-card-button{
  width: 120px;
  height: 60px;
  background-image: linear-gradient(to right, rgb(254, 185, 65) ,rgb(255, 244, 95));
  border-radius: 5px;
  font-weight: 500;
   font-family: "Inter",sans-serif;
  color: rgb(19, 18, 18);
}
.card {
  transition: transform 1.4s ease-in-out; 
}

.card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg); /* Initially hidden behind */
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg); /* Apply flip animation */
  }
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .cardReading-description-container{
    position: relative;
    margin: auto;
    position: static;
    padding: 20px;
    width: 400px;
    height: 400px;
    font-size: 1.1rem;
    border: grey;
    border-radius: 10px;
    color: white;
    font-family: "inter"sans-serif;
    font-weight: 500;
    border: 5px solid goldenrod;
  }
  .carReading-name{
    width: 350px;
    color: #ba3276;
    font-size: 1.2rem;
    font-family: "Inter"sans-serif;
    
  }
  .cardReading-description{
    width: 350px;
    color: white;
    font-family: "Inter"sans-serif;
   
  }
}

@media (max-width:600px) {
  .oneCard-container-displaying{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 425px;
    margin: auto;
    padding: 20px;
  }
  .save-card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    margin-left: 200px;
  }
  .save-card-button{
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to right, rgb(254, 185, 65) ,rgb(255, 244, 95));
    border-radius: 5px;
    color: rgb(19, 18, 18);
  }
  .save-card-button:hover{
    width: 100px;
    height: 40px;
    background-color: rgb(221, 227, 221);
    border-radius: 5px;
    color: rgb(206, 147, 46);
  }
  .cardReading-description-container{
    margin: auto;
    position: static;
    padding: 20px;
    width: 400px;
    height: 400px;
    font-size: 1.1rem;
    border: grey;
    border-radius: 10px;
    color: white;
    font-family: "inter"sans-serif;
    font-weight: 500;
    border: 5px solid goldenrod;
  }
  .carReading-name{
    width: 350px;
    color: #ba3276;
    font-size: 1.2rem;
    font-family: "Inter"sans-serif;
  }
  .cardReading-description{
    width: 350px;
    color: white;
    font-family: "Inter"sans-serif;
  }
}