.Navigation-container-two{
    position: relative;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    background-color: #d2d1cc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Navigation-image-style{
    width: 50px;
    height: 50px;
}
@media (max-width:600px) {
    .Navigation-container-two{
        position: relative;
        margin-top: 100px;
        height: 80px;
        width: 500px;
        /* background-image: linear-gradient(to right, #7efaee ,#d88eb9); */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}